<form>
  <mat-form-field class="example-full-width">
    <input 
      matInput
      type="text"
      placeholder="Correo Electrónico"
      formControlName="email"
      id="email" 
    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input 
      matInput
      type="password"
      placeholder="Contraseña"
      formControlName="password"
      id="password" 
    >
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Iniciar sesión</button>
</form>
